@keyframes pisca{   /*COMADO PARA FAZER ANIMAÇÃO DE PISCAR NOS NUMEROS*/
    0%{ opacity: 0.2; } /*ESSA CONFIGURAQÇÃO FAZ EFEITO CE DIMINUIR E APARECER*/
    50%{ opacity:  1; }
    100%{ opacity: 0.2; }
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;

}

.tela{
    width: 450px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1); /*COMADO PARA FAZER COR GRADIENTE*/
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
    
}

.teclado{
    background-color: #403a3a;
    margin-left: 30px ;
}

.teclado_linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.teclado_botao{
    width: 70px;
    height: 40px;
    background-color: #555;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #999;
}

.botao_branco{
    background-color: #fff;
    color: #000;
    font-size: 15px;
}

.botao_corrige{
    background-color: #f09046;
    color: #000;
    font-size: 15px;
}

.botao_confirma{
    background-color: #48c079;
    color: #000;
    font-size: 15px;
    height: 50px;
    width: 90px;
}

.d_cima{
    flex: 1;
    display: flex;
}

.d_cima_esquerda{ /* TOMA CONTA DO LADO ESQUERDO DA TELA */
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d_cima_esquerda_1{ /* ESSE PARTE É DO SEU VOTO */
    height: 50px;
    display: flex;
    align-items: center;
}

.d_cima_esquerda_2{
    height: 50px;  /* ESSE PARTE É DO VEREADORES */
    display: flex;
    align-items: center;
    justify-content: center;
}

.d_cima_esquerda_3{ /* ESSE PARTE É DOS NUMEROS DOS CANDITADOS */
    height: 50px;

}
.numeros_votos{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d_cima_esquerda_4{ /* ESSE PARTE É DESCRIÇÃO DOS PARTIDOS E CANDITADOS */
    flex: 1;
    line-height: 20px;
}

.d_cima_direita{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d_cima_image{
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}

.d_cima_image img{
    width: 70%;
}
.d_cima_image.small{
    width: 60%;
    font-size: 12px;
}

.d_baixo{
    height: 30px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}

.aviso--grande{
    font-size: 30px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.aviso--gigante{
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 85%;
    font-size: 12px;
}
