body{
    font-family: 'Spectral', serif;
}

/* EFEITO DE DIGITANDO*/
@keyframes typing{
    from {
        width:  0;
    }
}

@keyframes blink{
    50%{
        border-color:  transparent;
    }
}

.fundo_efeito_nome{
    background: linear-gradient(#cccccc,#fefefe);
    padding: 3em 0;
}

.efeito_nome {
    text-align: center;
    margin: 0 auto;
    font-size: 8rem;
    letter-spacing: 8px;
    border-right: 4px solid;
    width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(15),blink 0.3s infinite step-end alternate;
    color: #c78c19;
}
        /*AQUI TERMINA O EFEITO   */


        /* CORPO DA PAGINA( HOME) */

.principal{
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.titulo_principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 2em;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe , #a19f9f);
}

.mapa_conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}


.beneficios{
    padding: 3em 0;
    background: #a19f9f;
}

.conteudo_beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista_beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 2.0;
}

.itens:hover{
    color: white;
}

.itens:first-child{  /*DEIXA O PRIMEIRO ITEM EM NEGRITO (PESQUISAR SOBRE) */
    font-weight: bold;
}

.itens:before{  /* ADICIONA ELEMANTO ANTES DO CONTEUDO*/
    content: "☆ ";
}

.img_beneficios{
    width: 60%;
    opacity: 0.3;
    box-shadow: 15px 15px 10px #000000;
}

.img_beneficios:hover{
    opacity:1;
    transition: 500ms;
}

.video{
    width: 560px;
    margin: 2em auto ;
}

.utensiliosRelogio{
    width: 240px;
    float: left;
    margin: 0 20px 20px 0;
}

.informacao{
    margin-top: 2em;
}

/* CORPO DO PAGINA( PRODUTOS) */

.produtos_main{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos_main li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /* AJUDA A CALCULAR % E PIXES*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos_main li:hover{
    border-color: #c78c19;
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}

.produtos_main h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos_main li:hover h2{
    font-size: 34px;
}

.produto_desc{
    font-size: 18px;
}

.produto_preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.imagem_tingimento{
    height: 230px;
    width: 190px;
    padding-top: 20px ;
}

.imagem_produtos{
    height: 250px;
    width: 250px;
}

.imagem_barboterapia{
    height: 250px;
    width: 250px;
}

/* ESTILO DO CABEÇALHO DAS PAGINAS*/
header{
    background: #cccccc;
    padding: 20px 0;
}

.caixa_cabecario{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 140px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

/* RODAPÉ DO SITE ( FOOTER)*/
footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}

footer .copyright{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

/* PAGINA CONTATO*/

.formulario{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin:0 0 10px;
    padding: 10px 0 0 0;
}

.atendimento{
    font-size: 17px;
}

.input_padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.input_padrao:hover{
    border-color: #5c97f6;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: #c78c19;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s ;
    cursor: pointer;
}

.enviar:hover{
    background:#7d5e20;
    transform: scale(1.2);
}

table{
    margin: 40px 0 40px 160px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}









/* PARA CELULAR PAGINA HOME  (( EXEMPLO DE CSS PURO))*/

@media screen and ( max-width: 480px){
    .caixa_cabecario, .efeito_nome, .principal, .conteudo_beneficios, .mapa_conteudo, .video{
        width: auto;
    }

    h1{
        text-align: center;
        font-size: 2em;
    }

    nav{
        position: static;
    }

    .utensiliosRelogio{
        width: 80%;
    }

    .lista_beneficios{
        width: 100%;
        text-align: center;
    }

    .img_beneficios{
        width: 100%;
        margin: 5px;
    }

    .efeito_nome{
        width: 100%;
        font-size: 2em;
    }
}